<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Pentomino in GOLMI</title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <meta name="description" content="Demo of a Pentomino interface build using the GOLMI framework">
    <meta name="author" content="clpresearch, Karla Friedrichs">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layer_style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <link rel="stylesheet" href="{{ url_for('descrimage_bp.static', filename='css/descrimage.css') }}">
</head>

<script>
    var token = "{{ token }}"
    var notification_file = "{{ url_for('descrimage_bp.static', filename='notification.mp3') }}"
</script>

<div id="start_popup">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ultricies integer quis auctor elit sed vulputate. Amet mauris commodo quis imperdiet massa tincidunt nunc
    pulvinar sapien. Iaculis eu non diam phasellus vestibulum lorem sed. Interdum consectetur libero id faucibus nisl
    tincidunt eget nullam. Purus gravida quis blandit turpis cursus in hac habitasse platea. Tortor condimentum lacinia
    quis vel eros donec ac odio tempor. Dignissim convallis aenean et tortor at. Etiam tempor orci eu lobortis. Egestas
    sed tempus urna et pharetra pharetra massa massa ultricies. Volutpat consequat mauris nunc congue nisi vitae. Sit
    amet massa vitae tortor. Ornare massa eget egestas purus viverra.
    <br>
    <a class="start_popupOK">Start</a>
</div>


<body>
<div id="content" class="ui centered container">
    <div class="row" style="margin-top: 10px; margin-bottom: -25px; width: 600px">
        <div id="progress" class="ui progress" data-total={{ n_states }}> <!-- this is coming form the server -->
            <div class="bar">
                <div class="progress centered"></div>
            </div>
            <!--<div class="label">Progress</div>-->
        </div>
    </div>
    <div class="row" style="width: 600px">
        <div class="ui horizontal segments">
            <div class="ui segment">
                <span class="ui text">Bonus:</span>
                <span id="score" class="ui circular label">0</span>
                <span class="ui text">out of {{ n_states }} correct</span>
            </div>
            <div id="positive_feedback" class="ui segment">
                <div class="ui circular green label">+1</div>
                <span class="ui green text">Congrats! Your follower picked the target piece.</span>
            </div>
            <div id="negative_feedback" class="ui segment">
                <div class="ui circular yellow label">+0</div>
                <span class="ui yellow text">Sorry, the follower could not pick the target piece.</span>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- The "viewport" id and three stacked canvases of the same size are needed to
            properly render using the LayerView class -->
        <div id="viewport" style="height: 510px; width: 510px; margin-bottom: 10px; margin-left: 45px;">
            <canvas id="background" width="510" height="510"></canvas>
            <canvas id="objects" width="510" height="510"></canvas>
            <canvas id="gripper" width="510" height="510"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="ui action input" id="description_button_panel" style="width: 600px;  margin-bottom: 10px;">
            <input id="description" type="text" placeholder="Type...">
            <div id="description_button" class="ui button">Send</div>
        </div>
        <!-- Here we show what the user typed -->
        <div class="ui segment" id="description_text_panel">
            <span class="ui info text">You said:</span>
            <span id="description_text">Instruction</span>
        </div>
        <div class="ui segment" id="description_text_warning">
            <span class="ui error text">Please type an instruction before sending it.</span>
        </div>
    </div>
</div>
<!-- You MUST include jQuery before Fomantic -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
<!-- socketio -->
<script src="https://cdn.socket.io/4.1.2/socket.io.min.js"
        integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg"
        crossorigin="anonymous"></script>
<!-- General GOLMI functionality -->
<script src="{{ url_for('static', filename='js/view/View.js') }}"></script>
<script src="{{ url_for('descrimage_bp.static', filename='js/view/LayerViewGiver.js') }}"></script>
<script src="{{ url_for('static', filename='js/view/LView.js') }}"></script>
<script src="{{ url_for('static', filename='js/controller/LocalKeyController.js') }}"></script>
<!-- Interface specific functionality -->
<script src="{{ url_for('descrimage_bp.static', filename='js/giver.js') }}"></script>
</body>

</html>