<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Pentomino in GOLMI</title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <meta name="description" content="Demo of a Pentomino interface build using the GOLMI framework">
    <meta name="author" content="clpresearch, Karla Friedrichs">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layer_style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <link rel="stylesheet" href="{{ url_for('descrimage_bp.static', filename='css/descrimage.css') }}">
</head>

<script>
    var token = "{{ token }}"
    var notification_file = "{{ url_for('descrimage_bp.static', filename='notification.mp3') }}"
</script>


<div id="end_prompt" class="ui page dimmer">
    <div class="content ui segment">
        <p><span class="ui huge black text">Experiment Ended</span></p>
        <p><span class="ui large text" id="end_prompt_message"></span></p>
        <div id="end_prompt_token_box">
            <p><span class="ui medium black text">Do not forget to copy-paste the following code to the AMT interface.
            </span>
            </p>
            <p><span class="ui medium black text">
                Otherwise, we cannot perform the payment. Then you can close this window.</span>
            </p>
            <div class="ui grey inverted segment">
                <span class="ui huge text" id="end_prompt_token"></span>
            </div>
        </div>
    </div>
</div>

<div id="help_prompt" class="ui inverted page dimmer">
    <div class="content ui segment">
        <h1>Help</h1>
        <p><strong>Setting:</strong> You will see a multiple boards with Pentomino pieces on them of which one is
            highlighted with a red box
            around it. Here for example the cyan piece.</p>
        <div class="ui tiny spaced bordered rounded image">
            <img src="{{ url_for('descrimage_bp.static', filename='highlight.png') }}"
                 alt="Image: An example of a highlighted piece">
        </div>
        <p></p>
        <p><strong>Task:</strong> Your task is to come up with a good instruction so that the person on the other side
            selects the highlighted piece. You can only insert one instruction per board! The other person cannot see
            the highlighting, but you will see what they selected for a few seconds in a green box.</p>
        <p><i>Tip: You can use the return key to send.</i></p>
        <div class="ui large bordered rounded image">
            <img src="{{ url_for('descrimage_bp.static', filename='task.png') }}"
                 alt="Image: The instruction text field">
        </div>
        <p></p>
        <p><strong>Bonus:</strong> For each correct selection you get a bonus payment after the experiment is completed.
            For a wrong selection you do not get points.</p>
        <div class="ui medium bordered rounded image">
            <img src="{{ url_for('descrimage_bp.static', filename='bonus.png') }}"
                 alt="Image: The bonus score">
        </div>
        <p></p>
        <p><strong>Pieces</strong></p>
        <div class="ui medium bordered rounded image">
            <img src="{{ url_for('descrimage_bp.static', filename='types.png') }}"
                 alt="Image: The piece names">
        </div>
        <p></p>
        <button id="close_helpOK" class="ui primary button">Click here to close</button>
    </div>
</div>

<div id="welcome_prompt" class="ui inverted active page dimmer">
    <div class="content ui segment">
        <div class="ui big blue top right attached label">Remaining time to click start:
            <span class="ui black text" id="welcome_countdown">0</span> seconds
        </div>
        <h1>Welcome!</h1>
        <p><strong>Setting:</strong> You will see a multiple boards with Pentomino pieces on them of which one is
            highlighted with a red box
            around it. Here for example the cyan piece.</p>
        <div class="ui tiny spaced bordered rounded image">
            <img src="{{ url_for('descrimage_bp.static', filename='highlight.png') }}"
                 alt="Image: An example of a highlighted piece">
        </div>
        <p></p>
        <p><strong>Task:</strong> Your task is to come up with a good instruction so that the person on the other side
            selects the highlighted piece. You can only insert one instruction per board! The other person cannot see
            the highlighting, but you will see what they selected for a few seconds in a green box.</p>
        <p><i>Tip: You can use the return key to send.</i></p>
        <div class="ui large bordered rounded image">
            <img src="{{ url_for('descrimage_bp.static', filename='task.png') }}"
                 alt="Image: The instruction text field">
        </div>
        <p></p>
        <p><strong>Bonus:</strong> For each correct selection you get a bonus payment after the experiment is completed.
            For a wrong selection you do not get points.</p>
        <div class="ui medium bordered rounded image">
            <img src="{{ url_for('descrimage_bp.static', filename='bonus.png') }}"
                 alt="Image: The bonus score">
        </div>
        <p></p>
        <p>Good luck!</p>
        <button id="start_popupOK" class="ui primary button">Click here to start</button>
    </div>
</div>

<body>
<div id="content" class="ui centered grid container">

    <div class="row" style="margin-top: 10px; margin-bottom: -50px">
        <div class="column">
            <div id="progress" class="ui progress" data-total={{ n_states }}> <!-- this is coming form the server -->
                <div class="bar">
                    <div class="progress centered"></div>
                </div>
                <!--<div class="label">Progress</div>-->
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: -30px;">
        <div class="column">
            <div class="ui horizontal segments">
                <div class="ui segment">
                    <span class="ui text">Bonus:</span>
                    <span id="score" class="ui circular label">0</span>
                    <span class="ui text">out of {{ n_states }} correct</span>
                </div>
                <div id="positive_feedback" class="ui segment">
                    <div class="ui circular green label">+1</div>
                    <span class="ui green text">Congrats! Your follower picked the target piece.</span>
                </div>
                <div id="negative_feedback" class="ui segment">
                    <div class="ui circular yellow label">+0</div>
                    <span class="ui yellow text">Sorry, the follower could not pick the target piece.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: -20px;">
        <div class="column">
            <div id="test_timeout_start" class="ui basic grey button">Test Start Timeout</div>
            <div id="test_timeout_write" class="ui basic grey button">Test Write Timeout</div>
            <div id="test_success" class="ui basic grey button">Test success</div>
        </div>
    </div>
    <div class="row" style="margin-bottom: -10px;">
        <!-- The "viewport" id and three stacked canvases of the same size are needed to
            properly render using the LayerView class -->
        <div class="column">
            <div id="viewport" style="height: 510px; width: 510px;">
                <canvas id="background" width="510" height="510"></canvas>
                <canvas id="objects" width="510" height="510"></canvas>
                <canvas id="gripper" width="510" height="510"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui action input" id="description_button_panel" style="width: 600px;  margin-bottom: 10px;">
                <input id="description" type="text" placeholder="Your instruction: Take the ...">
                <div id="description_button" class="ui primary button">Send</div>
                <div id="help_button" class="ui secondary button">Help</div>
            </div>
            <!-- Here we show what the user typed -->
            <div class="ui segment" id="description_text_panel">
                <span class="ui info text">You said:</span>
                <span id="description_text">Instruction</span>
            </div>
            <div class="ui segment" id="description_text_warning">
                <span class="ui error text">Please type an instruction before sending it.</span>
            </div>
        </div>
    </div>
</div>
<!-- You MUST include jQuery before Fomantic -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
<!-- socketio -->
<script src="https://cdn.socket.io/4.1.2/socket.io.min.js"
        integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg"
        crossorigin="anonymous"></script>
<!-- General GOLMI functionality -->
<script src="{{ url_for('static', filename='js/view/View.js') }}"></script>
<script src="{{ url_for('descrimage_bp.static', filename='js/view/LayerViewGiver.js') }}"></script>
<script src="{{ url_for('static', filename='js/view/LView.js') }}"></script>
<script src="{{ url_for('static', filename='js/controller/LocalKeyController.js') }}"></script>
<!-- Interface specific functionality -->
<script src="{{ url_for('descrimage_bp.static', filename='js/giver.js') }}"></script>
</body>

</html>