<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Pentomino in GOLMI</title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <meta name="description" content="Demo of a Pentomino interface build using the GOLMI framework">
    <meta name="author" content="clpresearch, Karla Friedrichs">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layer_style.css') }}">
	<link rel="stylesheet" href="{{ url_for('descrimage_bp.static', filename='css/descrimage.css') }}">
</head>

<body>
    <h1>Test links</h1>
    <p>These links allow to load the prepared generated data</p>
    <table>
        <tr>
            <td>Receiver</td>
            <td><a href="https://expd.ling.uni-potsdam.de/descrimage/r/c3620574">Batch c3620574</a></td>
            <td><a href="http://localhost:5000/descrimage/r/c3620574">(local)</a></td>
        </tr>
        <tr>
            <td>Giver</td>
            <td><a href="https://expd.ling.uni-potsdam.de/descrimage/g/c3620574">Batch c3620574</a></td>
            <td><a href="http://localhost:5000/descrimage/g/c3620574">(local)</a></td>
        </tr>
    </table>

    <h1>Create further rooms manually</h1>
    <p>Here we can create other rooms (with randomly initialized data?)</p>
    <form method="POST">
        <input name="token" autofocus="autofocus" autocomplete="off">
        <button id="token_button" autocomplete="off">Enter Token</button>
    </form>

</body>

</html>