<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Pentomino in GOLMI</title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <meta name="description" content="Demo of a Pentomino interface build using the GOLMI framework">
    <meta name="author" content="clpresearch, Karla Friedrichs">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layer_style.css') }}">
	<link rel="stylesheet" href="{{ url_for('descrimage_bp.static', filename='css/descrimage.css') }}">
</head>

<script>
    // some variables to use in javascript
    var token = "{{ token }}"
    var notification_file = "{{ url_for('descrimage_bp.static', filename='notification.mp3') }}"
</script>

<body>
    <progress id="progress" max={{n_states}} value={{this_state}}></progress>

    <div style="height: 100; width: 600px; padding: 10px;">
        <textarea class="textarea" id="description" autocomplete="off" readonly="readonly"></textarea>
        <br>    
        <button id="bad_description" type="button">Bad Description</button>
    </div>

    <!-- The "viewport" id and three stacked canvases of the same size are needed to
        properly render using the LayerView class -->
    <div id="viewport" style="height: 600px; width: 600px; padding: 10px;">
        <canvas id="background" width="600" height="600"></canvas>
        <canvas id="objects" width="600" height="600"></canvas>
        <canvas id="gripper" width="600" height="600"></canvas>
    </div>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- socketio -->
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
    <!-- General GOLMI functionality -->
    <script src="{{ url_for('static', filename='js/view/View.js') }}"></script>
    <script src="{{ url_for('descrimage_bp.static', filename='js/view/LayerViewReceiver.js') }}"></script>
    <script src="{{ url_for('static', filename='js/view/LView.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controller/LocalKeyController.js') }}"></script>
    <!-- Interface specific functionality -->
    <script src="{{ url_for('descrimage_bp.static', filename='js/receiver.js') }}"></script>
</body>

</html>