<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">

	<title>PentoFractions Replay</title>

	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<meta name="description" content="Replay recorded PentoFractions clips">
	<meta name="author" content="clpresearch, Karla Friedrichs">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/layer_style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
</head>

<body>
	<div style="padding:10px;">
		<button id="start" autocomplete="off">Play</button> 
		<button id="stop" autocomplete="off">Stop</button>
		<label for="starttime">Start at second:</label>
		<input type="number" id="starttime" value="2"> 
	</div>
	<!-- The "viewport" id and three stacked canvases of the same size are needed to 
		properly render using the LayerView class -->
	<div id="viewport" style="height: 600px; width: 600px; padding: 10px;">
		<canvas id="background" width="600" height="600"></canvas>
		<canvas id="objects" width="600" height="600"></canvas>
		<canvas id="gripper" width="600" height="600"></canvas>
	</div>

	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
	<!-- for production, use minimal version: -->
	<!--<script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>-->
	<!-- General GOLMi functionality -->
    <script src="{{ url_for('static', filename='js/view/View.js') }}"></script>
	<script src="{{ url_for('static', filename='js/view/LayerView.js') }}"></script>
	<!-- Experiment specific functionality -->
    <script src="{{ url_for('static', filename='js/plugins/pentoFractions/Replayer.js') }}"></script>
	<script src="{{ url_for('static', filename='js/plugins/pentoFractions/replay.js') }}"></script>
</body>

</html>