<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">

	<title>PentoFractions Replay</title>

	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<meta name="description" content="Replay recorded PentoFractions clips">
	<meta name="author" content="clpresearch, Karla Friedrichs">

	<!-- for slider widget -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

	<!-- for overlapping canvas, used by LayerView -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layer_style.css') }}">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	<div style="padding:10px;">
		<button id="start" autocomplete="off">Play</button> 
		<button id="stop" autocomplete="off">Stop</button>
		<button id="reset" autocomplete="off">Reset</button>
		<p>
			<label for="replayStart">Replay time range:</label>
			<input type="text" id="replayTimeRange" readonly style="border:0; color:darkgray; font-weight:bold;">
		</p>
		<div id="slider-range"></div>
	</div>
	<!-- The "viewport" id and three stacked canvases of the same size are needed to 
		properly render using the LayerView class -->
	<div id="viewport" style="height: 600px; width: 600px; padding: 10px;">
		<canvas id="background" width="600" height="600"></canvas>
		<canvas id="objects" width="600" height="600"></canvas>
		<canvas id="gripper" width="600" height="600"></canvas>
	</div>

	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- for slider widget -->
	<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
	<script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
	<!-- General GOLMi functionality -->
    <script src="{{ url_for('static', filename='js/view/View.js') }}"></script>
	<script src="{{ url_for('static', filename='js/view/LayerView.js') }}"></script>
	<script src="{{ url_for('static', filename='js/view/LocalLayerView.js') }}"></script>
	<!-- Experiment specific functionality -->
    <script src="{{ url_for('static', filename='js/plugins/pentoFractions/Replayer.js') }}"></script>
	<script src="{{ url_for('static', filename='js/plugins/pentoFractions/replay.js') }}"></script>
</body>

</html>