<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>NeuREG in GOLM</title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <meta name="description" content="NeuREG interface built using the GOLM framework">
    <meta name="author" content="clpresearch, Philipp Sadler">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layer_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('neureg_bp.static', filename='css/neureg.css') }}">
</head>

<body>
<div style="padding:10px;">
    <button id="start" autocomplete="off">Connect</button>
    <button id="restart" autocomplete="off">New Scene</button>
    <button id="stop" autocomplete="off">Disconnect</button>
</div>

<div id="viewport" style="height: 600px; width: 600px; padding: 10px;float:left">
    <canvas id="background" width="600" height="600"></canvas>
    <canvas id="objects" width="600" height="600"></canvas>
</div>

<div style="padding:10px;float:left">
    <h5 id="instructions">Instructions</h5>
    <div id="instr_listing"></div>
</div>

<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- socketio -->
<script src="https://cdn.socket.io/4.1.2/socket.io.min.js"
        integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg"
        crossorigin="anonymous"></script>
<!-- General GOLMi functionality -->
<script src="{{ url_for('static', filename='js/view/View.js') }}"></script>
<!-- Interface specific functionality -->
<script src="{{ url_for('neureg_bp.static', filename='js/util.js') }}"></script>
<script src="{{ url_for('neureg_bp.static', filename='js/NeuralRegView.js') }}"></script>
<script src="{{ url_for('neureg_bp.static', filename='js/neureg.js') }}"></script>
</body>

</html>