<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">

	<title>GOLMI index</title>

	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<meta name="description" content="Index page of the GOLMI framework">
	<meta name="author" content="clpresearch">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
</head>

<body>
	<h2>Welcome to GOLMI!</h2>
	<p>This page could be the entry point to your new object manipulation interface!<p>
	<!-- See blueprints for available routes -->
	<p>There are the following experiments available:</p>
    <ul>
        {% for exp in experiments %}
		<li><a href="{{exp.ref}}">{{exp.name}}</a></li>
        {% endfor %}
      </ul>
</body>

</html>