<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>CompREG in GOLM</title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <meta name="description" content="CompREG interface built using the GOLM framework">
    <meta name="author" content="clpresearch, Philipp Sadler">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layer_style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <link rel="stylesheet" href="{{ url_for('compreg_bp.static', filename='css/compreg.css') }}">
</head>

<body>

<div id="content" class="ui equal width centered grid container">
    <div class="row">
        <h1 class="ui header">Compositional Scene Configuration</h1>
    </div>
    <div class="row">
        <div id="viewport" class="column" style="margin-right: 30px">
            <div class="ui padded grid">
                <div class="row">
                    <button id="start" class="ui inverted secondary button">Connect</button>
                    <button id="restart" class="ui inverted secondary button">New Scene</button>
                    <button id="stop" class="ui inverted secondary button">Disconnect</button>
                    <button id="toggle_show_grid" class="ui toggle button">Show Grid</button>
                </div>
                <div>
                    <h1 id="instructions"></h1>
                </div>
                <div class="row">
                    <canvas id="background" width="600" height="600"></canvas>
                    <canvas id="objects" width="600" height="600"></canvas>
                </div>
            </div>
        </div>
        <div id="controls" class="column">
            <div class="ui grid">
                <div class="equal width row">
                    <div class="column">
                        <div class="ui card">
                            <div class="content">
                                <div class="header">Target Piece</div>
                            </div>
                            <div class="content">
                                <div class="field">
                                    <label>Color</label>
                                    <div id="select_target_color" class="ui selection dropdown">
                                        <div class="text"></div>
                                        <i class="dropdown icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Shape</label>
                                    <div id="select_target_shape" class="ui selection dropdown">
                                        <div class="text"></div>
                                        <i class="dropdown icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Position</label>
                                    <div id="select_target_rel_position" class="ui selection dropdown">
                                        <div class="text"></div>
                                        <i class="dropdown icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                Define the values of the target piece. Might be "random".
                            </div>
                        </div>
                    </div>
                </div>
                <div class="equal width row">
                    <div class="column">
                        <div class="ui card">
                            <div class="content">
                                <div class="header">Scene</div>
                            </div>
                            <div class="content">
                                <div class="field">
                                    <label>Unique Properties</label>
                                    <div id="select_property" class="ui selection multiple dropdown">
                                        <div class="text">Color</div>
                                        <i class="dropdown icon"></i>
                                        <div class="scrollhint menu">
                                            <div class="item" data-value="color">Color</div>
                                            <div class="item" data-value="shape">Shape</div>
                                            <div class="item" data-value="rel_position">Position</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Number of Distractors</label>
                                    <div id="select_num_distractors"
                                         class="ui slider labeled ticked"></div>
                                </div>
                                <div class="field">
                                    <label>Number of Distractors Per Position</label>
                                    <div id="select_pieces_per_pos"
                                         class="ui slider labeled ticked"></div>
                                </div>
                            </div>
                            <div class="extra content">
                                Select a set of properties that are supposed to uniquely identify the target piece.
                                Control the number of distractor pieces.
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="equal width row">
                    <div class="column">
                        <div class="ui card">
                            <div class="content">
                                <div class="header">Distractor Varieties</div>
                            </div>
                            <div class="content">
                                <div class="field">
                                    <label>Colors</label>
                                    <div id="select_variety_num_colors" class="ui labeled ticked slider"></div>
                                </div>
                                <div class="field">
                                    <label>Shapes</label>
                                    <div id="select_variety_num_shapes" class="ui labeled ticked slider"></div>
                                </div>
                                <div class="field">
                                    <label>Positions</label>
                                    <div id="select_variety_num_positions" class="ui labeled ticked slider"></div>
                                </div>
                                <div class="field">
                                    <div id="toggle_rotations" class="ui disabled checkbox">
                                        <input type="checkbox" disabled="disabled" checked="checked">
                                        <label>Allow Rotations<span class="ui label">Todo!</span> </label>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                Control the number of values available for the distractors. The unique values
                                are automatically removed from the set.
                            </div>
                        </div>
                    </div>
                    <div class="column" />
                </div>
                -->
            </div>
        </div>
    </div>
</div>
<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- socketio -->
<script src="https://cdn.socket.io/4.1.2/socket.io.min.js"
        integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
<!-- General GOLMi functionality -->
<script src="{{ url_for('static', filename='js/view/View.js') }}"></script>
<!-- Interface specific functionality -->
<script src="{{ url_for('compreg_bp.static', filename='js/util.js') }}"></script>
<script src="{{ url_for('compreg_bp.static', filename='js/PentoBoardView.js') }}"></script>
<script src="{{ url_for('compreg_bp.static', filename='js/SceneConfigControls.js') }}"></script>
<script src="{{ url_for('compreg_bp.static', filename='js/compreg.js') }}"></script>
</body>

</html>