<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">

	<title>GOLMI index</title>

	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<meta name="description" content="Index page of the GOLMI framework">
	<meta name="author" content="clpresearch, Karla Friedrichs">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/layer_style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
</head>

<body>
	<h2>Welcome to GOLMI!</h2>
	<p>This page could be the entry point to your new object manipulation interface!<p>
	<!-- See views.py for available routes -->
	<p>There are the following interfaces available:</p>
	<ul>
		<li><a href="/demo">Demo</a></li>
	</ul>
</body>

</html>