<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">

	<title>GOLMI index</title>

	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<meta name="description" content="Index page of the GOLMI framework">
	<meta name="author" content="clpresearch, Karla Friedrichs">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/layer_style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
</head>

<body>
	<h2>Welcome to GOLMI!</h2>
	<p>This page could be the entry point to your new object manipulation interface!<p>
	<p>Check out /demo for an example.</p>
</body>

</html>