<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">

	<title>Pentomino in GOLM</title>

	<link rel="icon" href="../favicon.ico">

	<meta name="description" content="Demo of a Pentomino interface build using the GOLM framework">
	<meta name="author" content="clpresearch, Karla Friedrichs">

	<link rel="stylesheet" href="../css/layer_style.css">
	<link rel="stylesheet" href="../css/skeleton.css">
</head>

<body>
	<div style="padding:10px;">
		<button id="start">Start</button>
		<button id="stop">Stop</button>
	</div>
	<div id="viewport" style="height: 600px; width: 600px; padding: 10px;">
		<canvas id="background" width="600" height="600"></canvas>
		<canvas id="objects" width="600" height="600"></canvas>
		<canvas id="gripper" width="600" height="600"></canvas>
	</div>

	<script src="../js/jquery.min.js"></script>
	<script src="../js/View.js"></script>
	<script src="../js/LayerView.js"></script>
	<script src="../js/demo.js"></script>
</body>

</html>
